.frames-small .frame { width: 80px; height: 60px; padding: 5px; }
.frames-small .description, .frames-small .name { display: none; }
.frames-small .preview, .frames-small .preview-holder { width: 80px; height: 60px; }
.frames-small .frame .preview img { max-width: 80px; max-height: 60px; }

.frames-normal .frame { width: 120px; height: 110px; padding: 10px; }
.frames-normal .description { display: none; }
.frames-normal .preview, .frames-normal .preview-holder { width: 120px; height: 90px; }
.frames-normal .frame .preview img { max-width: 120px; max-height: 90px; }

.frames-large .frame { width: 150px; height: 150px; padding: 10px; overflow: hidden; }
.frames-large .preview, .frames-large .preview-holder { width: 150px; height: 110px; }
.frames-large .frame .preview img { max-width: 150px; max-height: 110px; }

.frame {
	float: left;
	margin: 0 7px 6px 0;
	border: 1px solid #d4cbb9;
	-webkit-border-radius: 6px;	-moz-border-radius: 6px; border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3); box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	zoom:1;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF), to(#dce1e8));
	background: -moz-linear-gradient(#FFF, #dce1e8);
	background: linear-gradient(#FFF, #dce1e8);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dce1e8');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dce1e8')";
}
.frame-hover {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF), to(#C5CED9));
	background: -moz-linear-gradient(#FFF, #C5CED9);
	background: linear-gradient(#FFF, #C5CED9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#C5CED9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#C5CED9')";
}
.frame { color: #212121; font: 12px Tahoma, sans-serif; }
.frame div { text-align: center; }
.frame .name { padding-top: 5px; }
.frame .name, .frame .description { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.preview-holder { display: table; table-layout: fixed; position: relative; }
.preview {
	display: table-cell; vertical-align: middle;
	background-color: black;
	background-position: 10000px 10000px;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
.gecko .preview {
	position: absolute;
}
.frame .preview {
	border: 1px solid #acb5c2;
	cursor: pointer;
}
.preview img { border: 0; }

.chrome .preview, .gecko .preview, .ie9 .preview, .safari5 .preview { background-position: center top; }
.chrome .preview img, .gecko .preview img, .ie9 .preview img,	.safari5 .preview img { display: none; }
.ff3_5 .preview img { display: inline; }
.ff3_5 .preview { background-position: 10000px 10000px; }

.frame-empty .preview { background-color: #F3F5F8; color: #0E64C5; }
.frame-empty .name, .frame-empty .description { font-style: italic; }


html.scroll, body.scroll { overflow-y: auto; }
#simplemodal-container { position: absolute !important; }
#view { position: absolute; margin-left: -10000px; }
#view.simplemodal-data { margin-left: 0; }
#overlay { background-color: #000; }

#view-prev, #view-next { vertical-align: top; }
#main-prev, #main-next, #thumb-prev, #thumb-next { cursor: pointer; background-position: top left; background-repeat: no-repeat; }

#thumb { margin: 10px auto; }
#thumb-view ul { height: 90px; }
#thumb-view li {
	width: 116px; height: 86px;
	margin: 0 5px 0 0;
	border: 2px solid transparent; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}
#thumb-view li.active { width: 116px; height: 86px; border-color: #fff; }
#thumb-view .preview-holder { height: 86px; width: 116px; text-align: center; }
#thumb-view .preview {
	display: table-cell;
	height: 86px; width: 116px;
	border: 0;
	text-align: center; vertical-align: middle;
}
#thumb-view img { max-height: 86px; max-width: 116px; }
#thumb-prev, #thumb-next { width: 24px; height: 24px; }
#thumb-prev { background-image: url('images/view-tmb-prev.png'); margin-right: 10px; }
#thumb-next { background-image: url('images/view-tmb-next.png'); margin-left: 10px; }
#thumb-prev.disabled { visibility: hidden; }
#thumb-next.disabled { visibility: hidden; }

#view-panel {
	padding: 8px 10px 10px 10px;
	background: #fff url(images/view-bg.png) left bottom repeat-x;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
	color: #212121; font-size: 11px; font-family: Tahoma, sans-serif;
}
#view-share { float: left; }
#view-tools { float: right; margin-bottom: 6px; }
#view-counter { text-align: center; font-size: 14px; margin: 0 150px; padding-top: 3px; }
#main-view { margin-bottom: 6px; }
#view-details { float: left; margin-right: 115px; }
#view-title { color: #212121; font-size: 18px; min-height: 22px; }
#view-description { color: #6a6a6a; font-size: 12px; clear: both; min-height: 14px; }
#view-close {
	float: right;
	width: 110px; height: 20px;
	padding-right: 25px;
	text-align: right;
	line-height: 20px; font-size: 18px; color: #818995; text-decoration: none; text-shadow: #f8f9fa 0 1px; text-indent: 0; text-transform: uppercase;
	background: url(images/view-close.png) right center no-repeat; cursor: pointer;
}
#main-view td { text-align: center; }
#main-prev, #main-next { width: 58px; height: 58px; }
#main-prev { background-image: url('images/view-prev.png'); margin-right: 10px; }
#main-next { background-image: url('images/view-next.png'); margin-left: 10px; }
#main-prev.disabled { visibility: hidden; }
#main-next.disabled { visibility: hidden; }
.preview-controls { display: none; }